* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", "Segoe UI", Tahoma, Verdana, sans-serif;
  color: #212121;
}

.main {
  font-weight: 700;
}

.page-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.page-section__title {
  font-size: 36px;
  line-height: 1.17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1 {
  padding-top: 200px;
  margin-bottom: 30px;
}

.linear-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

figure {
  margin: 0;
}

:root {
  --brand-color: #212121;
  --brand-background: #2f303a;
  --grey-background: #f5f4fa;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --contact-color: #757575;
  --transition-250: 250ms;
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --font: "Raleway", sans-serif;
}

header {
  border-bottom: 1px solid rgb(236, 236, 236);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__list {
  font-weight: 500;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-bottom: 32px;
  margin-top: 32px;
}

.menu__link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
  -webkit-transition-duration: var(--transition-250);
          transition-duration: var(--transition-250);
  -webkit-transition-timing-function: var(--transition-cubic);
          transition-timing-function: var(--transition-cubic);
  -webkit-transition-property: fill, color, border, background-color;
  transition-property: fill, color, border, background-color;
}
.menu__link:hover, .menu__link:focus {
  color: var(--blue-color);
  fill: var(--blue-color);
  -webkit-transition-property: fill, color;
  transition-property: fill, color;
  -webkit-transition-duration: var(--transition-250);
          transition-duration: var(--transition-250);
  -webkit-transition-timing-function: var(--transition-cubic);
          transition-timing-function: var(--transition-cubic);
}
.menu__link--email {
  margin-right: 50px;
}

.menu__link--contact {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-color);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: var(--transition-250);
          transition-duration: var(--transition-250);
  -webkit-transition-timing-function: var(--transition-cubic);
          transition-timing-function: var(--transition-cubic);
  -webkit-transition-property: fill, color, border, background-color;
  transition-property: fill, color, border, background-color;
}
.menu__link--contact:hover, .menu__link--contact:focus {
  color: var(--blue-color);
  fill: var(--blue-color);
  -webkit-transition-property: fill, color;
  transition-property: fill, color;
  -webkit-transition-duration: var(--transition-250);
          transition-duration: var(--transition-250);
  -webkit-transition-timing-function: var(--transition-cubic);
          transition-timing-function: var(--transition-cubic);
}

.menu__icon {
  fill: var(--contact-color);
}
.menu__icon--blue-accent {
  -webkit-transition-duration: var(--transition-250);
          transition-duration: var(--transition-250);
  -webkit-transition-timing-function: var(--transition-cubic);
          transition-timing-function: var(--transition-cubic);
  -webkit-transition-property: fill, color, border, background-color;
  transition-property: fill, color, border, background-color;
}
.menu__icon--blue-accent:hover, .menu__icon--blue-accent:focus {
  fill: var(--blue-color);
  color: var(--blue-color);
  -webkit-transition-property: fill, color;
  transition-property: fill, color;
  -webkit-transition-duration: var(--transition-250);
          transition-duration: var(--transition-250);
  -webkit-transition-timing-function: var(--transition-cubic);
          transition-timing-function: var(--transition-cubic);
}

.menu__link--contact:hover .menu__icon--blue-accent {
  fill: var(--blue-color);
}

.menu__item {
  margin-left: 46px;
}
.menu__item--site-underline {
  position: relative;
}
.menu__item--site-underline::after {
  position: absolute;
  left: 0;
  content: "";
  width: 55px;
  height: 4px;
  background: var(--blue-color);
  top: 47px;
  border-radius: 2px;
}
.menu__item--current-site-blue-accent {
  color: var(--blue-color);
}

.logo {
  font-family: var(--font);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: inherit;
  margin-right: 93px;
  padding: 0;
}
.logo--blue-accent {
  color: var(--blue-color);
}
.logo--white-accent {
  color: var(--white-color);
}

.portfolio-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio-navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-bottom: 50px;
  margin-top: 0;
}

.portfolio-navigation__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-navigation__button {
  cursor: pointer;
  background-color: var(--grey-background);
  border-radius: 4px;
  border: none;
  -webkit-transition-duration: var(--transition-250);
          transition-duration: var(--transition-250);
  -webkit-transition-timing-function: var(--transition-cubic);
          transition-timing-function: var(--transition-cubic);
  -webkit-transition-property: fill, color, border;
  transition-property: fill, color, border;
  padding: 6px 22px;
}
.portfolio-navigation__button:hover, .portfolio-navigation__button:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition-property: fill, color, border;
  transition-property: fill, color, border;
  -webkit-transition-duration: 25ms;
          transition-duration: 25ms;
  -webkit-transition-timing-function: var(--transition-cubic);
          transition-timing-function: var(--transition-cubic);
}

.portfolio-navigation__button-title {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
}

.portfolio-cards__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin-top: 0;
}

.portfolio-cards__item {
  cursor: pointer;
  -webkit-transform: fill, color, border, background-color;
          transform: fill, color, border, background-color;
  -webkit-transition-duration: var(--transition-250);
          transition-duration: var(--transition-250);
  -webkit-transition-timing-function: var(--transition-cubic);
          transition-timing-function: var(--transition-cubic);
}
.portfolio-cards__item:hover, .portfolio-cards__item:focus {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition-property: fill, color, border, background-color;
  transition-property: fill, color, border, background-color;
  -webkit-transition-duration: var(--transition-250);
          transition-duration: var(--transition-250);
  -webkit-transition-timing-function: var(--transition-cubic);
          transition-timing-function: var(--transition-cubic);
}

.portfolio-cards__item--border {
  border-bottom: 1px solid #eeeeee;
}

.portfolio-cards__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: inherit;
  margin-top: 20px;
  margin-left: 24px;
}

.portfolio-cards__item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: inherit;
  color: var(--contact-color);
  margin-top: 4px;
  margin-bottom: 20px;
}

.portfolio-cards__setup {
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}

.portfolio-cards__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 100%;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: fill, color, border, background-color, -webkit-transform;
  transition-property: fill, color, border, background-color, -webkit-transform;
  transition-property: fill, color, border, background-color, transform;
  transition-property: fill, color, border, background-color, transform, -webkit-transform;
  -webkit-transition-duration: var(--transition-250);
          transition-duration: var(--transition-250);
  -webkit-transition-timing-function: var(--transition-cubic);
          transition-timing-function: var(--transition-cubic);
}

.portfolio-cards__overlay-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.portfolio-cards__item:hover .portfolio-cards__overlay {
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  -webkit-transition-property: fill, color, border, background-color, -webkit-transform;
  transition-property: fill, color, border, background-color, -webkit-transform;
  transition-property: fill, color, border, background-color, transform;
  transition-property: fill, color, border, background-color, transform, -webkit-transform;
  -webkit-transition-duration: var(--transition-250);
          transition-duration: var(--transition-250);
  -webkit-transition-timing-function: var(--transition-cubic);
          transition-timing-function: var(--transition-cubic);
  background: var(--blue-color);
  height: 100%;
}

.footer {
  background: var(--brand-background);
}

.address {
  background: var(--brand-background);
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.address__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  padding-left: 0;
}
.address__item--street {
  margin-top: 20px;
  margin-bottom: 9px;
  color: var(--white-color);
}
.address__item--email {
  margin-bottom: 9px;
}
.address__item--phone {
  margin-bottom: 60px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition-duration: var(--transition-250);
          transition-duration: var(--transition-250);
  -webkit-transition-timing-function: var(--transition-cubic);
          transition-timing-function: var(--transition-cubic);
  -webkit-transition-property: fill, color, border, background-color;
  transition-property: fill, color, border, background-color;
}
.address__link:hover, .address__link:focus {
  color: var(--blue-color);
  fill: var(--blue-color);
  -webkit-transition-property: fill, color;
  transition-property: fill, color;
  -webkit-transition-duration: var(--transition-250);
          transition-duration: var(--transition-250);
  -webkit-transition-timing-function: var(--transition-cubic);
          transition-timing-function: var(--transition-cubic);
}
.address__link--underline {
  text-decoration: underline;
}

.newsletter {
  max-width: 570px;
  padding: 0;
  margin: 0 auto;
}
.newsletter__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 72px;
}
.newsletter__list {
  margin-bottom: 0;
  margin-left: 78px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.newsletter__list-form {
  margin-top: 20px;
  margin-left: 78px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.newsletter__icon {
  padding: 0;
  position: relative;
  top: 6px;
  right: 13px;
}
.newsletter__button {
  width: 200px;
  height: 50px;
  background: var(--blue-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-left: 12px;
  padding: 0;
  cursor: pointer;
}
.newsletter__button-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin-left: 42px;
  margin-right: 24px;
  padding: 0;
}

.newsletter__form-content {
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.newsletter__form-content:focus-within {
  outline: none;
}

.join-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.join-us__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 72px;
}
.join-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: 70px;
  padding: 0;
}
.join-us__list-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 10px;
  margin-top: 20px;
  margin-left: 70px;
  padding: 0;
}

.join-us__link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-duration: var(--transition-250);
          transition-duration: var(--transition-250);
  -webkit-transition-timing-function: var(--transition-cubic);
          transition-timing-function: var(--transition-cubic);
  -webkit-transition-property: fill, color, border, background-color;
  transition-property: fill, color, border, background-color;
}
.join-us__link:hover, .join-us__link:focus {
  background-color: var(--blue-color);
  cursor: pointer;
  -webkit-transition-property: fill, color, border, background-color;
  transition-property: fill, color, border, background-color;
  -webkit-transition-duration: var(--transition-250);
          transition-duration: var(--transition-250);
  -webkit-transition-timing-function: var(--transition-cubic);
          transition-timing-function: var(--transition-cubic);
}

.join-us-social-media__icon {
  fill: var(--white-color);
}/*# sourceMappingURL=portfolio.css.map */