body {
  font-family: "Roboto", sans-serif;
  position: absolute;
  color: #212121;
}
:root {
  --brand-color: #212121;
  --letter-spacing: 0.03em;
}
.header-content {
  font-weight: 500;
}
.web-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: inherit;
}
.web-blue {
  color: #2196f3;
}
.studio-white {
  color: #ffffff;
}
.header-nav {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
}
.header-nav:hover,
.header-contact:hover,
.contact-footer:hover,
.header-nav:focus,
.header-contact:focus,
.contact-footer:focus {
  color: #2196f3;
}
.header-contact {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.slogan {
  background: #2f303a;
}
.slogan-content {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.slogan-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.slogan-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.main-content {
  font-weight: 700;
}
.below-slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
.below-slogan-header {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  color: var(--brand-color);
}
.middle-content-header-work,
.middle-content-header-team {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.middle-content-header-team,
.middle-content-pictures-two {
  background: #f5f4fa;
}
.picture-title {
  font-size: 16px;
  line-height: 1.19;
}
.picture-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}
.footer {
  background: #2f303a;
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--letter-spacing);
}
.street-footer {
  color: #ffffff;
}
.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.portfolio-picture-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: inherit;
}
.portfolio-picture-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: inherit;
  color: #757575;
}
.underline {
  text-decoration: underline;
}
.button {
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: var(--letter-spacing);
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  display: inline;
}
.button:hover,
.button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.blue-current-site {
  color: #2196f3;
}
