* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Segoe UI", Tahoma, Verdana, sans-serif;
  color: #212121;
}
:root {
  --brand-color: #212121;
  --letter-spacing: 0.03em;
  --brand-background: #2f303a;
  --grey-background: #f5f4fa;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --contact-color: #757575;
}
.header-content {
  font-weight: 500;
  list-style: none;
}
.web-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: inherit;
}
.web-blue {
  color: var(--blue-color);
}
.studio-white {
  color: var(--white-color);
}
.header-nav {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
}
.contact-link-icon {
  fill: #757575;
}
.blue:hover,
.blue:focus {
  fill: var(--blue-color);
  color: var(--blue-color);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav:hover,
.header-contact:hover,
.contact-footer:hover,
.slogan-button:hover,
.header-nav:focus,
.header-contact:focus,
.contact-footer:focus,
.slogan-button:focus {
  color: var(--blue-color);
  fill: var(--blue-color);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav,
.header-contact,
.contact-footer,
.slogan-button,
.blue,
.social-media-icon-ft,
.social-media-icon,
.social-media-icons,
.above-footer-icon-bg,
.client-logo {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, color, border, background-color;
}
.header-contact {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-color);
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
}
.slogan {
  background: var(--brand-background);
}
.slogan-content {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.slogan-button {
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.slogan-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.main-content {
  font-weight: 700;
}
.below-slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--contact-color);
  list-style: none;
}
.below-slogan-header {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  color: var(--brand-color);
}
.middle-content-header-work,
.middle-content-header-team,
.above-footer-h2 {
  font-size: 36px;
  line-height: 1.17;
}
.middle-content-header-team-section {
  background: var(--grey-background);
}
.picture-title {
  font-size: 16px;
  line-height: 1.19;
}
.picture-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--contact-color);
}
.footer {
  background: var(--brand-background);
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--letter-spacing);
}
.section-footer {
  background: var(--brand-background);
}
.street-footer {
  color: var(--white-color);
}
.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.portfolio-picture-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: inherit;
}
.portfolio-picture-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: inherit;
  color: var(--contact-color);
}
.underline {
  text-decoration: underline;
}
.button {
  cursor: pointer;
  background-color: var(--grey-background);
  border-radius: 4px;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, color, border;
}
.portfolio-button-text {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: var(--letter-spacing);
  text-align: center;
}
.button:hover,
.button:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition-property: fill, color, border;
  transition-duration: 25ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Powyżej celowo skróciłem czas do 25ms, zamiast 250ms. Wg mnie powolna zmiana koloru treści z czarnej na białą w buttonach portfolio źle wygląda */

.blue-current-site {
  color: var(--blue-color);
}
.middle-content-pictures-one,
.middle-content-pictures-two,
.footer-list,
.buttons-list,
.portfolio-pictures {
  list-style: none;
}

/* -Index----------------------------------------------------- */

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
header {
  border-bottom: 1px solid rgb(236, 236, 236);
}
.header-content {
  display: flex;
  padding: 0;
  margin-bottom: 32px;
  margin-top: 32px;
}
.content {
  display: flex;
  align-items: center;
}
.web-logo {
  margin-right: 93px;
  padding: 0;
}
.header-display {
  margin-left: 46px;
}
.mail {
  margin-right: 50px;
}
h1 {
  padding-top: 200px;
  margin-bottom: 30px;
}
.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slogan-button {
  margin-bottom: 200px;
  padding: 10px 41px 10px 42px;
}
.below-slogan-container {
  display: flex;
}
.below-slogan {
  display: flex;
  padding: 0;
  padding-top: 94px;
}
.below-slogan-header {
  margin-bottom: 10px;
  padding-left: 0;
}
.bs:not(:last-child) {
  margin-right: 30px;
}
.middle-content-hw,
.middle-content-ht {
  display: flex;
  flex-direction: column;
}
.middle-content-header-work,
.middle-content-header-team,
.above-footer-h2 {
  display: flex;
  justify-content: center;
}
.middle-content-pictures-one {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  padding: 0;
  margin-top: 50px;
}
.middle-content-header-team,
.middle-content-header-work,
.above-footer-h2 {
  margin-bottom: 50px;
  margin: 0;
}
.middle-content-pictures-two {
  padding-top: 0;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-left: 0;
}
.pictures-two {
  margin-top: 50px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 0;
}
figure {
  margin: 0;
}
.picture-title,
.picture-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.picture-title {
  margin-top: 30px;
}
.picture-description {
  margin-top: 10px;
  margin-bottom: 16px;
}
.street-footer {
  margin-top: 20px;
  margin-bottom: 9px;
}
.mail-footer {
  margin-bottom: 9px;
}
.tel-footer {
  margin-bottom: 60px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ----------------------------HOMEWORK4------------------------------------ */
.slogan {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)),
    url("../images/slogan.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bs-icon-bg {
  width: 270px;
  height: 120px;
  background-color: var(--grey-background);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.social-media-icon {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social-media-icon-ft {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
}
.social-media-icon-ft:hover,
.social-media-icon-ft:focus {
  background-color: var(--blue-color);
  cursor: pointer;
  transition-property: fill, color, border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-icon:hover,
.social-media-icon:focus {
  background: var(--blue-color);
  cursor: pointer;
  transition-property: fill, color, border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-icons:hover,
.social-media-icons:focus {
  background: var(--blue-color);
  transition-duration: 250ms;
  transition-property: fill, color, border, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-icon:hover .social-media-icons {
  fill: var(--white-color);
  transition-property: fill, color, border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social {
  display: flex;
  list-style: none;
  margin-bottom: 30px;
  justify-content: space-between;
  gap: 10px;
  padding: 0;
  margin-bottom: 30px;
}
.above-footer-icon-bg {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.above-footer-icon-bg-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
.above-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.join-us {
  display: flex;
}
.footer-div-list-title {
  display: flex;
  list-style: none;
  margin-left: 70px;
  padding: 0;
}
.footer-div-list {
  display: flex;
  list-style: none;
  gap: 10px;
  margin-top: 20px;
  margin-left: 70px;
  padding: 0;
}
.div-footer {
  display: flex;
}
.join-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 72px;
}
.social-media-icons,
.client-logo {
  fill: #afb1b8;
}
.social-media-icons-ft {
  fill: var(--white-color);
}
.above-footer-icon-bg:hover,
.above-footer-icon-bg:focus {
  color: var(--blue-color);
  cursor: pointer;
  border-color: var(--blue-color);
  transition-property: fill, color, border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-logo:hover,
.client-logo:focus {
  fill: var(--blue-color);
  cursor: pointer;
  border-color: var(--blue-color);
  transition-property: fill, color, border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------------------------HOMEWORK5-------------------------------------------- */
.site-underline {
  position: relative;
}
.site-underline::after {
  position: absolute;
  left: 0;
  content: "";
  width: 55px;
  height: 4px;
  background: var(--blue-color);
  top: 47px;
  border-radius: 2px;
}
.header-contact:hover .blue {
  fill: var(--blue-color);
}

.backdrop {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: fill, color, border, background-color;
  transition: transform 0.8s ease-out;
  transform: scaleX(-100%);
  pointer-events: fill;
  z-index: 3;
}
.modal {
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: auto;
  position: relative;
}
.modal-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 8px;
}
.x-sign {
  padding: 0;
  top: 5px;
  left: 5px;
  position: absolute;
}
.is-hidden {
  transform: translateX(-100%);
  transition-property: fill, color, border, background-color;
  transition: transform 0.7s ease-in;
  opacity: 0.9;
  visibility: initial;
  pointer-events: fill;
}
.pictures-one-layout {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  z-index: 2;
  top: 1522px;
}
.layout-p-one {
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 27px;
  padding: 0;
}

/* ----------------------------HOMEWORK6-------------------------------------------- */

.newsletter-list,
.newsletter-list-2 {
  list-style: none;
  display: flex;
  padding: 0;
}
.newsletter-list {
  margin-bottom: 0;
  margin-left: 78px;
}
.newsletter-list-2 {
  margin-top: 20px;
  margin-left: 78px;
}
.newsletter-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 72px;
}
.newsletter {
  max-width: 570px;
  padding: 0;
  margin: 0 auto;
}
.email-input {
  background-color: transparent;
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255, 0.8);
}
.subscribe-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-left: 12px;
  padding: 0;
  cursor: pointer;
}
.newsletter-button-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-left: 42px;
  margin-right: 24px;
  padding: 0;
}
.icon-send {
  padding: 0;
}
.newsletter-box {
  display: flex;
  align-items: center;
  text-align: center;
}
.email-input:focus-within {
  outline: none;
}

/* -Portfolio-------------------------------------------------------- */

.buttons-list {
  display: flex;
  padding: 0;
  margin-bottom: 50px;
  margin-top: 0;
}
.buttons:not(:last-child) {
  margin-right: 8px;
}
.portfolio-picture-title {
  margin-top: 20px;
  margin-left: 24px;
}
.portfolio-picture-description {
  margin-top: 4px;
  margin-bottom: 20px;
}
.portfolio-pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin-top: 0;
}
.pictures-three {
  border-bottom: 1px solid #eeeeee;
}
.portfolio-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  padding: 6px 22px;
}

/* ----------------------------HOMEWORK4-------------------------------------------- */

.portfolio-pictures-hover:hover,
.portfolio-pictures-hover:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-property: fill, color, border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-pictures-hover {
  cursor: pointer;
  transform: fill, color, border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------------------------HOMEWORK5-------------------------------------------- */

.portfolio-pictures-box {
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}
.pictures-portfolio-overlay {
  position: absolute;
  display: flex;
  top: 100%;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 45px;
  align-items: center;
  transition-property: fill, color, border, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.pictures-portfolio-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.portfolio-pictures-hover:hover .pictures-portfolio-overlay {
  transform: translate(0%, -100%);
  transition-property: fill, color, border, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: #2196f3;
  height: 100%;
}
