* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Segoe UI", Tahoma, Verdana, sans-serif;
  color: #212121;
}
.main {
  font-weight: 700;
}
.page-section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    font-size: 36px;
    line-height: 1.17;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin: 0;
  }
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
h1 {
  padding-top: 200px;
  margin-bottom: 30px;
}
.linear-container {
  display: flex;
  flex-direction: column;
}
figure {
  margin: 0;
}
