.join-us {
  display: flex;

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-top: 72px;
  }

  &__list {
    display: flex;
    list-style: none;
    margin-left: 70px;
    padding: 0;
  }

  &__list-icons {
    display: flex;
    list-style: none;
    gap: 10px;
    margin-top: 20px;
    margin-left: 70px;
    padding: 0;
  }
}
.join-us__link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition-duration: var(--transition-250);
  transition-timing-function: var(--transition-cubic);
  transition-property: fill, color, border, background-color;

  &:hover,
  &:focus {
    background-color: var(--blue-color);
    cursor: pointer;
    transition-property: fill, color, border, background-color;
    transition-duration: var(--transition-250);
    transition-timing-function: var(--transition-cubic);
  }
}
.join-us-social-media__icon {
  fill: var(--white-color);
}
