// .logo {
//   font-family: var(--font);
//   font-size: 26px;
//   line-height: 1.19;
//   text-decoration: none;
//   color: inherit;
//   margin-right: 93px;
//   padding: 0;

//   &--blue-accent {
//     color: var(--blue-color);
//   }

//   &--white-accent {
//     color: var(--white-color);
//   }
// }

.logo {
  font-family: var(--font);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: inherit;
  padding: 16px 0;
  margin-right: auto;
  display: flex;
  align-items: center;

  &--blue-accent {
    color: var(--blue-color);
  }

  &--white-accent {
    color: var(--white-color);
  }

  @media screen and (min-width: 768px) {
    padding: 26px 0;
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding: 25px 0;
  }
}
