.what-we-do__list {
  list-style: none;
    display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  padding: 0;
  margin-top: 50px;
}
.what-we-do__item-layout {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  z-index: 2;
  top: 1522px;
}
.what-we-do__item-layout-title {
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 27px;
  padding: 0;
}