.cards {
  & {
    @extend %section-mobile;
    @media screen and (min-width: 1200px) {
      padding: 94px 0;
    }
  }

  &__item-svg {
    @extend %reset-list;
    @media screen and (min-width: 768px) {
      flex-basis: 354px;
      gap: 30px;
    }
  }

  &__list-svg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    @media screen and (min-width: 768px) {
      gap: 30px;
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      gap: 30px;
    }
  }

  &__title--position {
    margin-bottom: 10px;
    padding: 0;
  }

  &__wrap {
    border-radius: 4px;
    display: flex;
    background-color: #f5f4fa;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px) {
      padding: 25px 142px;
    }

    @media screen and (min-width: 1200px) {
      padding: 25px 100px;
    }
  }
}
