.team {
  & {
    background-color: #f5f4fa;
    @media screen and (max-width: 1199px) {
      padding: 60px 0;
    }
  }

  &__list {
    @extend %reset-list;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    @media screen and (min-width: 1200px) {
      padding-bottom: 94px;
    }
  }

  &__title--position {
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      margin-bottom: 50px;
    }
  }

  &__user--position {
    margin-bottom: 10px;
  }

  &__develop--position {
    margin-bottom: 16px;
  }

  &__develop {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--slave-text);
    text-align: center;
  }

  &__item {
    background-color: var(--logo-footer);
    @extend %reset-list;
  }

  &__wrapper {
    padding-top: 30px;
    padding-bottom: 24px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (min-width: 1200px) {
      padding: 30px 0;
    }
  }

  &__social {
    display: flex;
    gap: 10px;
    justify-content: center;
    @extend %reset-list;
  }

  &__social-link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    @extend %reset-link;
    fill: #afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__social-link:hover,
  &__social-link:focus {
    border-radius: 50%;
    fill: var(--logo-footer);
    background-color: #2196f3;
  }

  &__social-link {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
}
