:root {
  --brand-color: #212121;
  --brand-background: #2f303a;
  --grey-background: #f5f4fa;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --contact-color: #757575;
  --transition-250: 250ms;
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
   --font: "Raleway", sans-serif;
}
